.a1{
    padding: 40px;
}
.a2{
    text-align: center;

}
.a3{
    width: 500px;
}
.a4{
padding-left: 280px;
}
.a5{
    display: inline;
}
.a6{
    border-radius: 25px;
    margin: 50px;
    color: white;
}
